name: Test

on:
  push:
  pull_request:

jobs:
  analyze:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout git repository
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Setup package manager
      run: corepack enable

    - name: Setup Node
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
      with:
        cache: pnpm
        node-version: 24

    - name: Install dependencies
      if: steps.cache.outputs.cache-hit != 'true'
      run: pnpm install

    - name: Test
      run: |
        pnpm test
