name: Test

permissions: {}

on:
  push:
  pull_request:

jobs:
  ci-optimization:
    name: CI optimization
    uses: dargmuesli/github-actions/.github/workflows/ci-optimization.yml@e98193e91e9be2af3af784b7a0f25d35bf4eadc5 # 4.0.7
    permissions:
      pull-requests: read
  test:
    needs: ci-optimization
    if: needs.ci-optimization.outputs.continue == 'true'
    name: Test
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - name: Checkout git repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Setup package manager
      run: corepack enable

    - name: Setup Node
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
      with:
        cache: pnpm
        node-version: 24

    - name: Install dependencies
      run: pnpm install

    - name: Test
      run: |
        pnpm test
