name: Test

permissions: {}

on:
  push:
  pull_request:

jobs:
  ci-optimization:
    name: CI optimization
    uses: dargmuesli/github-actions/.github/workflows/ci-optimization.yml@a5dc6e8243538aa44ebc8ef9c4a2d2ace56569f8 # 3.2.2
    permissions:
      pull-requests: read
  test:
    needs: ci-optimization
    if: needs.ci-optimization.outputs.continue == 'true'
    name: Test
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - name: Checkout git repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Setup package manager
      run: corepack enable

    - name: Setup Node
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
      with:
        cache: pnpm
        node-version: 24

    - name: Install dependencies
      run: pnpm install

    - name: Test
      run: |
        pnpm test
