name: Test

permissions: {}

on:
  push:
  pull_request:

jobs:
  ci-optimization:
    name: CI optimization
    uses: dargmuesli/github-actions/.github/workflows/ci-optimization.yml@2b47b35b82df04152c34ae042bd011dd83f28ffd # 2.8.0
    permissions:
      pull-requests: read
  test:
    needs: ci-optimization
    if: needs.ci-optimization.outputs.continue == 'true'
    name: Test
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - name: Checkout git repository
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Setup package manager
      run: corepack enable

    - name: Setup Node
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
      with:
        cache: pnpm
        node-version: 24

    - name: Install dependencies
      run: pnpm install

    - name: Test
      run: |
        pnpm test
